@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
     ViewBag.Title = "Online Math Practice - Free Math Help | iPracticeMath";
    ViewBag.MetaDescription = "iPracticeMath provides free online math practice, help and worksheets. Try our math problem for 4th,5th,6th,7th,8th,9th grade!";

    ViewBag.Keywords = "Online Math Practice, Math Practice Test, Free Math Help Online, Math Problem Solver, Free Math Games online, 8th grade math, 6th grade math, 7th grade math, 4th grade math, 9th grade math, 5th grade math";
    ViewBag.CanonicalHomeUrl = @"http://www.ipracticemath.com/";

}
<!--Banner Container-->
<!--HomeInfoBar Container-->
<div class="jumbotron-ad hidden-print" >  
    @Html.Partial("_carousalPartial")
    <br />
</div>
<!--End of Banner Container-->
<div class="container">

</div>


