@*<div class="container content">
    <div class="row  margin-bottom-30">
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/content/images/questionimages/comparingquestion.png" rel="gallery2" class="fancybox img-hover-v1" title="image 1">
                <span><img class="img-responsive" src="~/content/images/questionimages/comparingquestion.png" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/content/images/questionimages/comparingquestion1.png" rel="gallery2" class="fancybox img-hover-v1" title="image 2">
                <span><img class="img-responsive" src="~/content/images/questionimages/comparingquestion1.png" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="~/content/images/questionimages/comparingquestion2.png" rel="gallery2" class="fancybox img-hover-v1" title="image 3">
                <span><img class="img-responsive" src="~/content/images/questionimages/comparingquestion2.png" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/content/images/questionimages/comparingquestion3.png" rel="gallery2" class="fancybox img-hover-v1" title="image 4">
                <span><img class="img-responsive" src="~/content/images/questionimages/comparingquestion3.png" alt=""></span>
            </a>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-sm-3 sm-margin-bottom-30">a
            <a href="~/content/images/questionimages/comparingquestion4.png" rel="gallery2" class="fancybox img-hover-v1" title="image 5">
                <span><img class="img-responsive" src="~/content/images/questionimages/comparingquestion4.png" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/content/images/questionimages/comparingquestion5.png" rel="gallery2" class="fancybox img-hover-v1" title="image 6">
                <span><img class="img-responsive" src="~/content/images/questionimages/comparingquestion5.png" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="~/content/images/questionimages/comparingquestion.png" rel="gallery2" class="fancybox img-hover-v1" title="image 7">
                <span><img class="img-responsive" src="~/content/images/questionimages/comparingquestion.png" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/content/images/questionimages/comparingquestion.png" rel="gallery2" class="fancybox img-hover-v1" title="image 8">
                <span><img class="img-responsive" src="~/content/images/questionimages/comparingquestion.png" alt=""></span>
            </a>
        </div>
    </div>
</div>*@


