<div class="headline">
    <h3 class="heading-sm">Important Links</h3>
</div>
<div class="row">

    <div class="col-md-2">
        <a href="/learn" class="btn-u btn-u-lg rounded btn-u-green margin-right-5">Learn<i class="margin-5 fa fa-arrow-circle-right"></i></a>

    </div>
    <div class="col-md-2">
        <a href="/grade" class="btn-u btn-u-lg rounded btn-u-green margin-right-5">Grades<i class="margin-5 fa fa-arrow-circle-right"></i></a>
    </div>
    <div class="col-md-2">
        <a href="/math-practice" class="btn-u btn-u-lg rounded btn-u-green margin-right-5">Practice<i class="margin-5 fa fa-arrow-circle-right"></i></a>
    </div>

    <div class="col-md-2">
        <a href="/worksheets" class="btn-u btn-u-lg rounded btn-u-green margin-right-5">Worksheet<i class="margin-5 fa fa-arrow-circle-right"></i></a>
    </div>
    <div class="col-md-2">
        <a href="/reports" class="btn-u btn-u-lg rounded btn-u-green margin-right-5">Reports<i class="margin-5 fa fa-arrow-circle-right"></i></a>
    </div>
    <div class="col-md-2">
        <a href="/" class="btn-u btn-u-lg rounded btn-u-green margin-right-5">Home<i class="margin-5 fa fa-arrow-circle-right"></i></a>

    </div>
</div>


