<div class="row">
    <div class="col-md-5 col-sm-5">
        <div class="servive-block servive-block-red servive-block-red-border">
            <h5 class="font-color-white">Step 1</h5>
            <p class="faq-font14 font-bold">Create your account</p>
            <p>Fill out the form and submit</p>
        </div>
    </div>
    <div class="col-md-5 col-sm-5">
        <div class="servive-block servive-block-blue servive-block-blue-border">
            <h5 class="font-color-white">Step 2</h5>
            <p class="font_16 font-bold">Check your email</p>
            <p>Verify your email address</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-sm-5">
        <div class="servive-block servive-block-u servive-block-u-border">
            <h5 class="font-color-white">Step 3</h5>
            <p class="faq-font14 font-bold">Security code activation</p>
            <p>We will activate your security code and notify through email</p>
        </div>
    </div>
    <div class="col-md-5 col-sm-5">
        <div class="servive-block servive-block-purple servive-block-purple-border">
            <h5 class="font-color-white">Step 4</h5>
            <p class="faq-font14 font-bold">Add students</p>
            <p>Sign in and add students to your account</p>
        </div>
    </div>
</div>


